/* =========================
   RESET GLOBAL
========================= */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
   HTML
========================= */

html {
    scroll-behavior: smooth;
}

/* =========================
   BODY
========================= */

body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background: #0b0f19;
    color: #fff;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* =========================
   IMAGENS
========================= */

img,
picture {
    display: block;
    max-width: 100%;
}

/* =========================
   LINKS
========================= */

a {
    text-decoration: none;
    color: inherit;
}

/* =========================
   LISTAS
========================= */

ul,
ol {
    list-style: none;
}

/* =========================
   FORMULÁRIOS
========================= */

button,
input,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
}

/* =========================
   TÍTULOS
========================= */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

/* =========================
   TEXTOS
========================= */

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}